<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
<div>
  <img src="../assets/imgs/login-head.png"/>
</div>
<ion-list>

  <ion-item>
    <ion-label floating>phone</ion-label>
    <ion-input [(ngModel)]="username" type="text" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input [(ngModel)]="password"  type="password" value=""></ion-input>
  </ion-item>

</ion-list>

<div padding align="center">
  <button  ion-button  style="border-radius: 28px; background-color: #764ba2; width: 180px; height: 60px;" (click)="login()">Sign In</button>
</div>
</ion-content>
