<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
<div style="height: 140px;">

</div>
  <div align="center"><img src="../assets/imgs/log.png" height="200"/></div>
  <h3 style="color: #764ba2; font-size: bold" align="center">Balance</h3>
  <p style="color: #764ba2; font-weight: lighter;" align="center">{{balance}}</p>
  <h3 style="color:#764ba2; font-weight: bold"align="center">your secret : </h3>
  <h4 style="color: #764ba2; font-weight: lighter"align="center">{{secret}}</h4>
  <div align="center">
    <!--<button ion-button large (click)="purchase()" style="border-radius: 25px;background-color: #764ba2">New purchase </button>-->
    <img src="../assets/imgs/pr.png" width="400px" (click)="purchase()"/>
  </div>
  
</ion-content>

