<!--
  Generated template for the TransactionSucceededPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  

</ion-header>


<ion-content padding>
  <div style="height: 140px"></div>
  <div align="center">
  <h3 style="color:#764ba2; font-weight: bold">You have paid : </h3>
 <h4 style="color:#764ba2; font-weight:lighter">{{this.navParams.get("amount")}} SAR</h4>
 <br />
  <img src="../assets/imgs/cm.png" align="center" height="200" (click)="pop()" />
  
  </div>
</ion-content>
