<!--
  Generated template for the PurchasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title align="right">purchase</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <button ion-button full (click)="scanQR()"> submit</button>
  <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
</ion-content>
